h1 {
    font-size:100px !important;
}

@media (min-width: 768px) {
    .search .navbar-default {
      background-color: lightgrey;
    }
    .search .navbar-default a.navbar-brand {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    }
    .search .navbar-default .navbar-nav > li > a {
      color: black;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    }
    .search .navbar-default .navbar-brand {
      color: #fff;
      position: relative;
      top: 0;
    }
    .search .navbar-default .navbar-brand:hover,
    .search .navbar-default .navbar-brand:focus {
      color: #fff;
      top: 2px;
    }
    .search .navbar-default ul.nav > li > a:hover,
    .search .navbar-default ul.nav > li > a:focus {
      border-top-color: #fff;
      color: #fff;
    }
    .search .navbar-default ul.nav > li.active > a,
    .search .navbar-default ul.nav > li.open > a {
      text-decoration: none !important;
      border-top-color: black;
    }
  }


  .info {
    font-size: 120%;
    padding: 0;
    margin: 0;
  }